<div class="container my-4 text-white">
  <h1 class="text-center">Tip Calculator</h1>
  <h3 class="text-center">Find Out How Much Should You Tip</h3>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-3 mb-3">
        <app-add-tip (addTipEvent)="tipAdd($event)" (showHistoryEvent)="showHistory($event)"></app-add-tip>
      </div>
      <div class="card mt-3" *ngIf="doShowHistory">
        <app-tips-list [tipsList]="tips"></app-tips-list>
      </div>
    </div>
  </div>
</div>
